.activeButton {
    
    color: #fff;
    box-shadow: inset;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fixed_position {
    position: sticky;
    left:0;
    background-color: white; /* Adjust as needed */
    z-index: 1;
   }

   .color-picker {
    text-align: center;
}

.selectedColor {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
}